*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.cal-4{
	width: 30%;
	height: 100%;
}
.w-55{
	width: 63%;
}
.main{
    width: 300px;
    position: absolute;
    top: 20%;
    left: 30%;
    height: 400px;
    background-color: #464646;
    padding: 14px;
	border-radius: 2px;
    /* border: 5px solid #2196F3; */
}
.main .textview{
    width: 100%;
    height: 54px;
    color: white;
    border: none;
    font-size: 22px;
	background-color: #464646;
	padding-left: 10px;
}
.fit-content{
	gap: 7px;
    /* background-color: blue; */
    display: flex;
    margin-top: 7px;
	height: 50px;
}
.fit-content input{
	width: 100%;
	height: 100%;
	background-color: #464646;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.505);
	border-radius: 2px;
	font-size: 20px;
}
input:hover{
	background-color: rgb(105, 105, 105);
}
input:active{
	background-color: rgb(0, 50, 252);
}
.content{
	/* background-color: rebeccapurple; */
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}